// Color
// ==========================================================================

.color-primary 			{ color: $primary-color; }
.color-primary-light 	{ color: $primary-color-light; }
.color-primary-dark 	{ color: $primary-color-dark; }
.color-secondary 		{ color: $secondary-color; }
.color-secondary-light 	{ color: $secondary-color-light; }
.color-secondary-dark	{ color: $secondary-color-dark; }
.color-tertiary 		{ color: $tertiary-color; }
.color-tertiary-dark	{ color: $tertiary-color-dark; }

.color-light 			{ color: $light-color; }
.color-dark 			{ color: $dark-color; }


// Bg Color
// ==========================================================================

.bg-light 				{ background-color: $light-color; }

.bg-primary 			{ background-color: $primary-color; }
.bg-primary-light 		{ background-color: $primary-color-light; }
.bg-primary-dark 		{ background-color: $primary-color-dark; }
.bg-secondary 			{ background-color: $secondary-color; }
.bg-secondary-light 	{ background-color: $secondary-color-light; }
.bg-secondary-dark		{ background-color: $secondary-color-dark; }
.bg-tertiary 			{ background-color: $tertiary-color; }
.bg-tertiary-dark		{ background-color: $tertiary-color-dark; }