// Single
// ==========================================================================
#tmptnj-tarjeta {
	@media #{$sm-and-up} {
		max-width: 431px;
		margin: 30px auto;
		@include shadow;
	}
	.tmptnj-tarjeta_header {
	    padding-bottom: 50%;
	    //background-position: top center;
	    .bg-absolute {
	    	background-color: rgba(255,255,255,0.3);
/*	    	background: rgba(255,255,255,1);
			background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0) 100%);
			background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(25%, rgba(255,255,255,0.3)), color-stop(100%, rgba(255,255,255,0)));
			background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0) 100%);
			background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0) 100%);
			background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0) 100%);
			background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );*/
	    }
		.tmptnj-tarjeta_linkhome { 
			display:block;
			position: absolute;
			top: 10px;
			left: 15px;
		}	 
		.tmptnj-tarjeta_copy {
			display:block;
			position: absolute;
			top: 15px;
			right: 15px;
			width: 40px;
			line-height: 40px;
			text-align: center;
			color: $primary-color;
			background-color: rgba(255,255,255,0.6);
			border-radius: 3px;
			&:hover { background-color: rgba(255,255,255,0.9); }		
		}
	}
    .tmptnj-tarjeta_content {
    	margin-top: -110px;
	    text-align: center;
    	.tmptnj-tarjeta_cabecera {
	    	.bg-image {
	    		width: 180px;
			    height: 180px;
			    border-radius: 50%;
			    margin: 0px auto 15px;
			}
			h2 {
				text-transform: uppercase;
				font-size: 16px;
			}
			.tmptnj-tarjeta_linkhome { 
				display:block;
				margin: 15px 0;
			}	     		
    	}
	    .tmptnj-tarjeta_description {
			background-color: $secondary-color;
			margin-top: 15px;
			padding: 35px 0 0;
			.tmptnj-tarjeta_contacto {
				position: relative;
				margin-bottom: 20px;
				.tmptnj-tarjeta_contacto-line {
					width: 180px;
					height: 4px;
					margin-top: -4px;
					background-color: $primary-color;
					@include center-full(); 
				}
			}
			.tmptnj-tarjeta_ubicacion {
				padding-bottom: 30px;
				#tmptnj-tarjeta_btnubicacion {
					width: 95%;
				    margin: auto;
				    line-height: 45px;
				    text-transform: uppercase;
					color: $light-color;
					background-color: $primary-color;
				    border-radius: 3px;
					cursor: pointer;
					&:hover, &.active { background-color: $primary-color-dark; }
				}
				#tmptnj-tarjeta_mapubicacion {
					display: none;
					padding-top: 15px;
					@include transition(.3s ease-out);
					&.active {
						display: block;
					}
					.bg-image {
						padding-bottom: 65%;
						em {
							font-size: 35px;
							@include center-full(); 
							.pulse {
								top: 20px;
								right: 20px;
							}
						}
					}
				}
			}
			.tmptnj-tarjeta_redes {
				background-color: $primary-color;
				padding: 10px 0 15px;
				a {
					display: inline-block;
					margin: 0 3px;
					font-size: 24px;
					color: $light-color;
				}
			}
	    }
    } 
}


.btn-hexagono {
	position: relative;
	display: inline-block;
	width: 48px;
	margin: 0 10px;
	text-align: center;
	.hexagono {
	  height: 25px;
	  margin: 15px 0;
	  position: relative;
	  em {
	  	color: $light-color; 
	  	font-size: 22px;
	  	@include center-full(); 
	  	/*Estilos para eliminar espacio de bordes hexagono*/
	  	background-color: $primary-color;
	  	border-radius: 50%;
	  	width: 40px;
	  	line-height: 40px;
	  	&.icon-whatsapp { font-size: 24px; }
	  }
	}
	.hexagono:before {
	  border-right:24px solid transparent;
	  border-left:24px solid transparent;
	  border-bottom-width: 15px;
	  border-bottom-style: solid;
	  content: '';
	  height:0;
	  left: 0;
	  position: absolute;
	  right: 0;
	  top: -15px;
	  width: 0;
	}
	.hexagono:after {
	  border-right:24px solid transparent;
	  border-left:24px solid transparent;
	  border-top-width: 15px;
	  border-top-style: solid;
	  bottom:-15px;
	  content: '';
	  height:0;
	  left: 0;
	  position: absolute;
	  right: 0;
	  width:0;

	}
	&.btn-hexagono-relleno,
	&.btn-hexagono-borde {
		.hexagono { background-color: $primary-color; }
		.hexagono:before { border-bottom-color: $primary-color; }
		.hexagono:after { border-top-color: $primary-color; }
		&:hover {
			.hexagono:not(.hexagono-small) { 
				background-color: $primary-color-dark; 
				em { background-color: $primary-color-dark; }
			}
			.hexagono:not(.hexagono-small):before { border-bottom-color: $primary-color-dark; }
			.hexagono:not(.hexagono-small):after { border-top-color: $primary-color-dark; }	
		}
	}
	&.btn-hexagono-borde {
		.hexagono-small { 
			background-color: $secondary-color;
			height: 20px;
			margin: 18px 0;
			width: 36px;
			top: -5px!important;
			z-index: 1;
			@include center-full(); 
		}
		.hexagono-small:before { 
			border-bottom-color: $secondary-color;
			border-right:18px solid transparent;
			border-left:18px solid transparent;
			border-bottom-width: 10px;
			top: -10px;
		}
		.hexagono-small:after { 
			border-top-color: $secondary-color;
			border-right:18px solid transparent;
			border-left:18px solid transparent;
			border-top-width: 10px;
			bottom:-10px;
		}
		em { 
			color: $primary-color;
			z-index: 2; 
			background-color: $secondary-color!important;
			/*Estilos para eliminar espacio de bordes hexagono*/
			width: 36px;
			line-height: 32px;
		}
		&:hover em { 
			color: $primary-color-dark; 

		}
	}
}



#wpadminbar { display: none!important; }