// Typography
// ==========================================================================

a {
  text-decoration: none;
  color: $dark-color;
  cursor: pointer;
  // Gets rid of tap active state
  -webkit-tap-highlight-color: transparent;
  em { font-size: 20px; }
}

html{
  line-height: 1.5;
  font-family: $font-default;
  font-size: 16px;
  color: $dark-color;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.3;
  margin: 0px;
  font-family: $font-bold;
  font-weight: $font-weight-strong;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

// Header Styles
h1 { font-size: $h1-fontsize;}
h2 { font-size: $h2-fontsize;}
h3 { font-size: $h3-fontsize;}
h4 { font-size: $h4-fontsize;}
h5 { font-size: $h5-fontsize;}
h6 { font-size: $h6-fontsize;}

p { 
  margin: 0px;
}

// Text Styles
em                            { font-style: italic; }
small                         { font-size: 85%; }

.font-thin                    { font-weight: $font-weight-thin; }
.font-normal                  { font-weight: $font-weight-normal; }
.font-strong, strong          { font-weight: $font-weight-strong; }

.fs-medium                    { font-size: $fontsize-medium; line-height: $lineHeight-medium; }
.fs-large                     { font-size: $fontsize-large; line-height: $lineHeight-large; }

@media #{$small-and-down}{
  .fs-medium                  { font-size: $fontsize-medium-sm; line-height: $lineHeight-medium-sm; }
  .fs-large                   { font-size: $fontsize-large-sm; line-height: $lineHeight-large-sm; }
}

.font-default                 { font-family: $font-default; }
.font-light                   { font-family: $font-light; }
.font-bold                    { font-family: $font-bold; }

.uppercase                    { text-transform: uppercase; }
.lowercase                    { text-transform: lowercase; }
.capitalize                   { text-transform: capitalize; }

.text-underline               { text-decoration: underline; }
.text-underline-hover:hover   { text-decoration: underline; }
.text-line-through            { text-decoration: line-through; }

.text-center                  { text-align: center; } 
.text-left                    { text-align: left; }
.text-right                   { text-align: right; }
.text-justify                 { text-align: justify; }
@media #{$medium-and-down}{
  .text-left-medium               { text-align: left; } 
}
@media #{$sm-and-down}{
  .text-left-sm               { text-align: left; } 
}
@media #{$small-and-down}{
  .text-left-small            { text-align: left; }
}

.text-last-center             { text-align-last: center; }
.text-last-left               { text-align-last: left; }
.text-last-right              { text-align-last: right; }
.text-last-justify            { text-align-last: justify; }

.line-text-overflow {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

#section-clientes p { margin-bottom: 15px; }